*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D5E1EF;
}

.container{
    background: white; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    flex-direction: column;  
    height: 460px;
    width: 300px;   
    border-radius: 10px;
}
.container img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
}
.text{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.text h1{
    margin: 4px 4px 10px 4px;
    font-size: 18px;
}
.text p{
  max-width: 260px; /* Control line length */
  margin: 10px auto; /* Center the text block */
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #7a7a7a;
  line-height: 1.4;
}